# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Bin directories
Debug/
Release/

# MSVC files we don't care about
*.sdf
*.pdb
*.opensdf
*.suo
*.lastcodeanalysissucceeded
*.vcxproj.user

# Program specific files we don't care about
builderrors.txt

# OpenCL files we don't care about
*.ptx

# recorded video stuff
RecordedVideo/Frames/*.*
RecordedVideo/*.mp4

# screenshots
ScreenShots/*.*

# python cache
*.pyc
